*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans, Bricolage Grotesque;
}
body{
    background-color: hsl(243, 96%, 9%);
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 100%;
    max-width: 1200px;
    color: hsl(0, 0%, 100%);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 150px;
}
.units-container{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: hsl(243, 27%, 20%);
    padding: 12px 16px;
    border-radius: 8px;
}
.main-title{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.search-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
}
.search-container .input-field{
    background-color: hsl(242, 27%, 20%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem;
    flex-grow: 0.4;
}
.search-container .input-field img{
    width: 20px;
    height: 20px;
}
.search-container .input-field input{
    border: 0;
    outline: 0;
    width: 100%;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    margin-left: 12px;
}
.search-container button{
    border: 0;
    outline: 0;
    background-color: hsl(233, 67%, 56%);
    color: hsl(0, 0%, 100%);
    padding: 1rem 1.5rem;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.search-container button:hover{
    opacity: 0.6;
}
.content-container{
    display: grid;
    grid-template-columns: 7fr 4fr;
    gap: 2rem;
    width: 100%;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.current-weather{
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.weather-overview{
    background-image: url(/images/bg-today-large.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 80px 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location-info h2{
    font-size: 28px;
    font-weight: 600;
}
.location-info p{
    font-size: 18px;
}
.current-temp{
    display: flex;
    align-items: center;
    gap: 20px;
}
.current-temp img{
    width: 90px;
    height: 90px;
}
.current-temp span{
    font-size: 96px;
    font-weight: 300;
    line-height: 1;
}
.current-weather-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.detail-card{
    background-color: hsl(243, 27%, 20%);
    padding: 0.5rem 1.25rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.detail-card p{
    font-size: 18px;
}
.detail-card span{
    font-size: 32px;
}
.daily-forecast-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}
.daily-card{
    background-color: hsl(243, 27%, 20%);
    padding: 16px 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.daily-card p{
    font-size: 18px;
}
.daily-card img{
    width: 48px;
}
.daily-temp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.hourly-container{
    background-color: hsl(242, 27%, 20%);
    border-radius: 12px;
    height: 100%;
    padding: 1.5rem;
}
.hourly-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.hourly-header button{
    border: 0;
    outline: 0;
    background-color: hsl(242, 23%, 30%);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.hourly-forecast-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hourly-forecast{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 16px;
    background-color: hsl(242, 22%, 24%);
    border-radius: 8px;
}
.hourly-forecast img{
    width: 40px;
}
.hourly-forecast .time{
    flex-grow: 1;
    font-size: 20px;
}
.hourly-temp{
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .content-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 640px){
    body{
        padding: 1.5rem;
    } 
    .search-container{
        flex-direction: column;
    }
    .weather-overview{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 24px;
        gap: 1rem;
        border-radius: 20px;
    }
    .search-container .input-field{
        width: 100%;
    }
    .search-container button{
        width: 100%;
    }
    .current-weather-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .daily-forecast-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}