}
.search-section{
    margin: auto;
    margin-bottom: 20px;
}
.search{
    width: 100%;
    background: hsl(243, 23%, 24%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: text;
}
.search:hover{
    background: hsl(243, 23%, 30%);
}
.search img{
    max-width: 18px;
    margin: 10px;
}
.search input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 15px;
    color: white;
    font-weight: 600;
}
.search-btn{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: hsl(233, 67%, 56%);
    cursor: pointer;
}
.search-btn:hover{
    background: hsl(233, 60%, 30%);
}
.main-card{
    padding: 20px;
    text-align: center;
    background-image: url("../images/bg-today-small.svg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 20px;
}
.date-detail h2{
    font-size: 30px;
    line-height: 0.5;
    padding: 15px 0;
}
.main-card img{
    max-width: 85px;
}
.main-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main-detail span{
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
}
.small-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.detail-box{
    padding: 0 15px;
    background: hsl(243, 23%, 24%);
    border-radius: 12px;
    border: solid 1px hsl(240, 23%, 30%);
   
}
.detail-box p{
    font-size: 16px;
    line-height: 0.6;
}
.detail-box .value{
    font-size: 24px;
}

/* Daily Forecast Section */
.forecast{
    margin-bottom: 20px;
}
.forecast-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.day-card{
    background: hsl(243, 23%, 24%);
    border-radius: 15px;
    text-align: center;
    border: solid 1px hsl(240, 23%, 30%);
    padding: 10px 5px;
}
.day-card img{
    max-width: 50px;
    margin: 5px 0;
}
.day-card .temps{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}
.day-card .temp-max {
    font-weight: bold;
}
.day-card .temp-min {
    color: hsl(240, 6%, 70%);
}


.hourly-forecast{
    background:  hsl(243, 27%, 20%);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 100%;
}
.hourly-forecast .top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-row{
    position: relative;
}
.top-row .dropdown{
    display: flex;
    padding: 8px;
    background: hsl(243, 27%, 24%);
    border: solid 1px hsl(240, 23%, 30%);
    border-radius: 10px;
    gap: 8px;
    cursor: pointer;
}
.top-row img{
    max-width: 15px;
}
.hour-item{
    padding: 0 15px;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(243, 20%, 24%);
    border: solid 2px hsl(240, 23%, 30%);
    border-radius: 12px;
}
.hour-item .time,
.hour-item .temps {
    line-height: 1.5; 
}
.hour-item .temps{
    text-align: right;
    flex-basis: 30%;
    font-weight: bold;
}
.hour-item img{
    max-width: 46px;
    flex-shrink: 0; 
}


/* Media Queries */
@media (min-width: 500px){
    .weather-app{
        max-width: 1400px;
        height: 100vh;
        padding: 20px 30px;
    }
    .app-header{
        padding: 0 30px;
    }
    .main-title{
        font-size: 48px;
        margin: 35px 0 30px 0;
    }
    .search-section{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 25px auto;
        gap: 15px;
    }
    .search{
        width: 100%;
        margin: 0;
    }
    .search-btn{
        width: 25%;
        cursor: pointer;
    }
    .main-grid-layout{
        width: 100%;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 25px;
        box-sizing: border-box;
    }
    .left-column{
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        gap: 22px;
        min-width: 500px;
    }
    .right-column {
        flex-basis: 40%;
        min-width: 300px;
    }

    .current-weather{
        box-sizing: border-box;
        margin: 0;
    }
    .current-weather .main-card{
        background-image: url("../images/bg-today-small.svg");
        display: flex;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
        padding: 100px 15px;
    }
    .date-detail{
        flex-basis: 60%;
        text-align: left;
    }
    .date-detail h2{
        font-size: 35px;
        line-height: 0.6;
    }
    .date-detail p{
        font-size: 16px;
    }
    .main-detail{
        gap: 10px;
    }
    .small-cards{
        grid-template-columns: repeat(4, 1fr);
    }
    .forecast-grid{
        grid-template-columns: repeat(6, 1fr); 
        gap: 6px;
    }

    .day-card {
        padding: 15px 5px;
    }
    .hourly-forecast{
        max-width: 400px;
    }
}
