body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: DM Sans, sans-serif;
}
.attribution{
    font-size: 11px;
    text-align: center;
}
img{
    width: 100%;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
.weather-app{
    background: hsl(243, 96%, 9%);
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    padding: 17px;
}
.app-header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}
.logo img{
    max-width: 120px;
}
.units-toggle{
    background: hsl(243, 23%, 24%);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}
.units-toggle img{
    max-width: 15px;
}

/* units dropdown menu styling */
.dropdown-menu{
    position: absolute;
    top: 90%;
    right: 3%;
    z-index: 100;
    width: 200px;
    margin-top: 5px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
}
.dropdown-menu.open-menu{
    max-height: 450px;
}
.sub-menu{
    border: 2px solid hsl(240, 23%, 30%);
    border-radius: 10px;
    background: hsl(243, 23%, 24%);
    padding: 10px;
}
.sub-menu hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: hsl(240, 23%, 30%);
}
.switch-div{
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 7px;
}
.switch-div:hover{
    background: hsl(243, 18%, 30%);
    border: 1px solid hsl(240, 23%, 30%);
}
.units-switch{
    font-size: 16px;
}
.dropdown-category{
    margin-top: 15px;
}
.category-title{
    color: hsl(240, 6%, 70%);
    font-size: 14px;
}
.dropdown-item{
    width: 100%;
    height: 10px;
    padding: 18px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}
.dropdown-item:hover{
    background: hsl(243, 18%, 30%);
    border: 1px solid hsl(240, 23%, 30%);
}
.dropdown-item p{
    font-size: 14px;
}
input[type="checkbox"]{
    appearance: none;
}

/* main content styling */
.main-title{
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 800;
    margin: 25px;
}
.search-section{
    margin: auto;
    margin-bottom: 20px;
}
.search-input{
    width: 100%;
    background: hsl(243, 23%, 24%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 10px;
}
.search-input img{
    max-width: 18px;
    margin: 10px;
}
.search-input input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 15px;
    color: white;
    font-weight: 600;
}
.search-btn{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: hsl(233, 67%, 56%);
}

.current-weather{
    
}
.main-card{
    padding: 20px;
    text-align: center;
    background-image: url("../images/bg-today-small.svg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 20px;
}
.date-detail h2{
    font-size: 30px;
    line-height: 0.5;
}
.main-card img{
    max-width: 70px;
}
.main-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main-detail span{
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
}
.small-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.detail-box{
    padding: 0 15px;
    background: hsl(243, 23%, 24%);
    border-radius: 12px;
    border: solid 1px hsl(240, 23%, 30%);
   
}
.detail-box p{
    font-size: 16px;
    line-height: 0.6;
}
.detail-box .value{
    font-size: 24px;
}

.daily-forecast{
    margin-bottom: 20px;
}
.forecast-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.day-card{
    background: hsl(243, 23%, 24%);
    border-radius: 12px;
    text-align: center;
    border: solid 1px hsl(240, 23%, 30%);
}
.day-card img{
    max-width: 50px;
}
.day-card .temps{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hourly-forecast{
    background:  hsl(243, 27%, 20%);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.hourly-forecast .top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-row .dropdown{
    display: flex;
    padding: 8px;
    background: hsl(243, 27%, 24%);
    border: solid 1px hsl(240, 23%, 30%);
    border-radius: 10px;
    gap: 8px;
}
.top-row img{
    max-width: 15px;
}
.hour-item{
    padding: 0 15px;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
    background: hsl(243, 20%, 24%);
    border: solid 2px hsl(240, 23%, 30%);
    border-radius: 12px;
}
.hour-item .temps{
    text-align: right;
    flex-basis: 60%;
}
.hour-item img{
    max-width: 46px;
}
@media (min-width: 500px){
    .weather-app{
        max-width: 950px;
    }
    .main-title{
        font-size: 35px;
    }
    .search-section{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 25px auto;
        gap: 15px;
    }
    .search-input{
        width: 100%;
        margin: 0;
    }
    .search-btn{
        width: 25%;
        cursor: pointer;
    }
    .main-grid-layout{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        box-sizing: border-box;
    }
    .left-column{
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .current-weather{
        box-sizing: border-box;
        margin: 0;
    }
    .current-weather .main-card{
        background-image: url("../images/bg-today-small.svg");
        display: flex;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
        padding: 100px 15px;
    }
    .date-detail{
        flex-basis: 60%;
        text-align: left;
    }
    .date-detail h2{
        font-size: 24px;
        line-height: 0.6;
    }
    .date-detail p{
        font-size: 12px;
    }
    main-detail{
        gap: 10px;
    }
    .small-cards{
        grid-template-columns: repeat(4, 1fr);
    }
    .daily-forecast{
        flex-grow: 2;
    }
    .forecast-grid{
        grid-template-columns: repeat(7, 1fr);
    }
}
