body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: DM Sans, sans-serif;
}
.attribution{
    font-size: 11px;
    text-align: center;
}
.error{
    display: none;
    padding: 10px 0;
    text-align: center;
    color: #ff6b6b;
}
img{
    width: 100%;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
.weather-app{
    background: hsl(243, 96%, 9%);
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    padding: 17px;
}
.weather {
    display: block;
}

.app-header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}
.logo img{
    max-width: 120px;
}
.units-toggle{
    background: hsl(243, 23%, 24%);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.units-toggle:hover{
    border: 1px solid hsl(240, 23%, 70%);
}
.units-toggle img{
    max-width: 15px;
}

/* units dropdown menu styling */
.dropdown-menu{
    position: absolute;
    top: 100%; 
    right: 0;
    z-index: 100;
    width: 200px;
    max-height: 0;
    margin-top: 7px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.dropdown-menu.open-menu{
    max-height: 450px;
}
.sub-menu{
    border: 2px solid hsl(240, 23%, 30%);
    border-radius: 10px;
    background: hsl(243, 23%, 24%);
    padding: 10px!
}
.sub-menu hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: hsl(240, 23%, 30%);
}
.switch-div{
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 7px;
}
.units-switch{
    font-size: 16px;
}
.dropdown-options{
    margin-top: 5px;
}
.category-title{
    color: hsl(240, 6%, 70%);
    font-size: 14px;
}
.dropdown-item{
    width: 100%;
    min-height: 30px;
    max-height: 45px;
    padding: 6px;
    margin: auto 0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-item:hover{
    background: hsl(243, 18%, 30%);
    border: 1px solid hsl(240, 23%, 30%);
}
.dropdown-item label{
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
}
input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    right: 0;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}
input[type="checkbox"]:checked{
     background-color: hsl(233, 67%, 56%);
}
input[type="checkbox"]:checked::after {
    content: '✓';
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main content styling */
.main-title{
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 800;
    margin: 25px;
}
.search-section{
    margin: auto;
    margin-bottom: 20px;
}
.search{
    width: 100%;
    background: hsl(243, 23%, 24%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: text;
}
.search:hover{
    background: hsl(243, 23%, 30%);
}
.search img{
    max-width: 18px;
    margin: 10px;
}
.search input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 15px;
    color: white;
    font-weight: 600;
}
.search-btn{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: hsl(233, 67%, 56%);
    cursor: pointer;
}
.search-btn:hover{
    background: hsl(233, 60%, 30%);
}
.main-card{
    padding: 20px;
    text-align: center;
    background-image: url("../images/bg-today-small.svg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 20px;
}
.date-detail h2{
    font-size: 30px;
    line-height: 0.5;
}
.main-card img{
    max-width: 85px;
}
.main-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main-detail span{
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
}
.small-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.detail-box{
    padding: 0 15px;
    background: hsl(243, 23%, 24%);
    border-radius: 12px;
    border: solid 1px hsl(240, 23%, 30%);
   
}
.detail-box p{
    font-size: 16px;
    line-height: 0.6;
}
.detail-box .value{
    font-size: 24px;
}

/* Daily Forecast Section */
.forecast{
    margin-bottom: 20px;
}
.forecast-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.day-card{
    background: hsl(243, 23%, 24%);
    border-radius: 12px;
    text-align: center;
    border: solid 1px hsl(240, 23%, 30%);
    padding: 10px 5px;
}
.day-card img{
    max-width: 50px;
    margin: 5px 0;
}
.day-card .temps{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}
.day-card .temp-max {
    font-weight: bold;
}
.day-card .temp-min {
    color: hsl(240, 6%, 70%);
}


.hourly-forecast{
    background:  hsl(243, 27%, 20%);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.hourly-forecast .top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-row{
    position: relative;
}
.top-row .dropdown{
    display: flex;
    padding: 8px;
    background: hsl(243, 27%, 24%);
    border: solid 1px hsl(240, 23%, 30%);
    border-radius: 10px;
    gap: 8px;
    cursor: pointer;
}
.top-row img{
    max-width: 15px;
}
.hour-item{
    padding: 0 15px;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(243, 20%, 24%);
    border: solid 2px hsl(240, 23%, 30%);
    border-radius: 12px;
}
.hour-item .time,
.hour-item .temps {
    line-height: 1.5; 
}
.hour-item .temps{
    text-align: right;
    flex-basis: 30%;
    font-weight: bold;
}
.hour-item img{
    max-width: 46px;
    flex-shrink: 0; 
}


/* Media Queries */
@media (min-width: 500px){
    .weather-app{
        max-width: 950px;
    }
    .main-title{
        font-size: 35px;
        margin: 25px 0 25px 0;
    }
    .search-section{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 25px auto;
        gap: 15px;
    }
    .search{
        width: 100%;
        margin: 0;
    }
    .search-btn{
        width: 25%;
        cursor: pointer;
    }
    .main-grid-layout{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 27px;
        box-sizing: border-box;
    }
    .left-column{
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-width: 500px;
    }
    .right-column {
        flex-basis: 40%;
        min-width: 300px;
    }

    .current-weather{
        box-sizing: border-box;
        margin: 0;
    }
    .current-weather .main-card{
        background-image: url("../images/bg-today-small.svg");
        display: flex;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
        padding: 100px 15px;
    }
    .date-detail{
        flex-basis: 60%;
        text-align: left;
    }
    .date-detail h2{
        font-size: 35px;
        line-height: 0.6;
    }
    .date-detail p{
        font-size: 16px;
    }
    .main-detail{
        gap: 10px;
    }
    .small-cards{
        grid-template-columns: repeat(4, 1fr);
    }
    .forecast-grid{
        grid-template-columns: repeat(6, 1fr); 
        gap: 6px;
    }

    .day-card {
        padding: 15px 5px;
    }
}
